{% extends 'layout.html' %}
{% load static %}


{% block content %}
    <div class="product-banner">
        <h2>Products</h2>
    </div>
    <section id="deteil-section">
        {% for p in product %}
        <div class="detail-img">
            <img src="{{ p.image.url }}" alt="{{ p.title }}">
        </div>
        <div class="deteil-text">
            <h2>{{p.title}}</h2>
            <p>{{p.description}}</p>
            <p>{{p.long_description}}</p>
        </div>
        {% endfor %}
    </section>
    <section id="deteil-slider-section">
        <div class="deteil-slider-text">
            <h2>Bunlarada bax</h2>
        </div>

        <div class="swiper deteil-mySwiper">
            <div class="swiper-wrapper">
                {% for p in product %}
                <div class="swiper-slide">
                    <img src="{{ p.image.url }}" alt="{{ p.title }}">
                </div>
                {% endfor %}
                
            </div>
            <div class="swiper-pagination"></div>



        </div>

    </section>


{% endblock %}

