{% extends 'layout.html' %}
{% load static %}

{% block title %} Ascentgroup-MMC {% endblock %}

{% block content %}
    <section id="banner-slider">
        <div class="swiper bannerMySwiper">
            <div class="swiper-wrapper">
                {% for b in banner %}
                <div class="swiper-slide">
                    <img src="{{ b.image.url }}" alt="">
                    <p>{{ b.text }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section id="home-drink">
        <div class="drink-img">
            <img src="{% static '/images/image 13.png' %}" alt="Tuna">
        </div>
        <div class="drink-text">
            <h2>Haqqımızda</h2>
            <p>
                <span>Tuna Printing & Publishing & Packaging Company ( “TUNA” şirkəti)</span>
                18 iyun 1998-ci ildə qurulmuşdur. Şirkət hazırda kağız, qablaşdırma və plastik istehsalı sahəsində
                Azərbaycanın qabaqcıl müəssisələrindən biridir. Qısa müddət ərzində əldə etdiyi nailiyyətlərə,
                göstərdiyi xidmətlərin keyfiyyətinə və sifarişçilərinin yüksək məmnunluğunu qazanmasına görə
                Azərbaycanın qabaqcıl firma və təşkilatları arasında layiqli yer tutmuş “TUNA” şirkəti bu sektorda
                Coca-cola , Azərsun, Mc Donalds, Fab Boya, Best Boya, Sobsan, Bolluq, Milenium, AER, Şirin,
                Veysəloğlu və başqa lider şirkətlərlə uzun illərdir əməkdaşlıq edir.
            </p>
        </div>
    </section>

    <section id="product-slider">
        <div class="product-title">
            <h2 class="line-text">Məhsullarımız</h2>
        </div>
        
        <div class="swiper product-mySwiper">
            <div class="swiper-wrapper">
                {% for product in products %}
                <div class="swiper-slide">
                    <img src="{{product.image.url}}" alt="">
                </div>

                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </section>


    <section id="chosen-slider">
        <div class="chosen-title">
            <h2 class="line-text">Seçilmiş layihələrimiz</h2>
        </div>
        <div class="swiper chosen-mySwiper">
            <div class="swiper-wrapper">
                {% for project in projects %}
                <div class="swiper-slide">
                    <img src="{{ project.image.url }}" alt="">
                </div>
                
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>



        </div>
    </section>

    <section id="video-slider">
        <div class="video-text">
            <h2>Featured reels</h2>
        </div>
        <div class="swiper video-mySwiper">
            <div class="swiper-wrapper">
                {% for video in videos %}
                <div class="swiper-slide">
                    <div class="video-container">
                        <video width="320" height="240" id="myVideo" preload="metadata">
                            <source src="{{ video.video_file }}" type="video/mp4" />
                        </video>
                        <div class="play-pause-btn" id="play-pause-btn">
                            <i class="fa-solid fa-play"></i>
                            <i class="fa-solid fa-pause"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section id="partners" class="customcontainer">
        <div class="heading">Tərəfdaşlarımız</div>

        <div class="swiper partners-slider">
            <div class="swiper-wrapper">
                {% for partner in partners %}
                <div class="swiper-slide">
                    <img src="{{ partner.logo.url }}" alt="">

                </div>
                {% endfor %}
            </div>


        </div>
    </section>


    <section id="count-section">
        <div class="background-image"></div>
        <div class="content">
            <h2>Həyata keçirdiyimiz layihələr və statistikamız</h2>
            <div class="statistika">
                <div class="stat-item">
                    <span class="count" data-count="100">0</span>
                    <p>Komanda üzvü</p>
                </div>
                <div class="stat-item">
                    <span class="count" data-count="20">0</span>
                    <p>İl təcrübə</p>
                </div>
                <div class="stat-item">
                    <span class="count" data-count="100">0</span>
                    <p>Layihə</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
