.container {
    width: 90%;
    margin: auto;
}

.menu-icon {
    i {
        font-size: 22px;
    }
}

.no-scroll {
    overflow: hidden;
}

header {
    width: 100%;
    z-index: 999;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 30%;

            img {
                width: 100%;
            }
        }

        .navbar {
            display: none;

            .menu {
                li {
                    a {
                        font-family: poppins;
                    }
                }
            }
        }

        nav {
            width: 70%;
            display: flex;
            justify-content: flex-end;

            #responsive-menu {
                z-index: 999;
                position: absolute;
                top: -200%;
                left: 0;
                width: 100%;
                background-color: white;
                transition: 0.3s ease-in-out;


                &.active {
                    top: 0;

                }

                .open-menu {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;

                    ul {
                        height: 100vh;
                        width: 100%;

                        li {
                            a {
                                font-size: 18px;
                                line-height: 27px;
                                font-weight: 400;
                                color: #353535;
                                font-family: poppins;
                            }
                        }

                        hr {
                            margin-bottom: 20px;
                        }
                    }

                    .open-menu-logo {
                        width: 30%;

                        img {
                            width: 100%;
                        }
                    }

                    #menu-close {
                        width: 70%;
                        display: flex;
                        justify-content: end;
                    }
                }

            }
        }
    }
}




.dropdown-footer {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;


    &.open {
        max-height: auto;

    }
}






.footer-bottom {
    display: flex;
    flex-direction: column;


    .footer-left {
        display: flex;
        flex-direction: column;

        gap: 20px;
        margin-bottom: 20px;

        .logo {
            width: 30%;
            margin-bottom: 10px;



            img {
                width: 100%;
            }

            p {
                width: 200px;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                color: #413E3E;
                margin-left: 10px;
                font-family: montserrat;
            }

        }

        .links {
            width: 25%;

            h4 {
                font-family: poppins;
                color: #EC268F;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            ul {
                li {
                    a {
                        font-family: poppins;
                        font-size: 14px;
                        line-height: 20px;
                        color: #414141;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: #FFF212;
                            padding: 0 5px;
                            border-radius: 6px;
                            color: #b1b1b1;
                        }



                    }
                }
            }
        }


    }

    .footer-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        justify-content: space-between;

        p {
            font-family: poppins;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;

            i {
                color: #FFF212;
                margin-right: 10px;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }

        .contact {
            width: 50%;

            h4 {
                font-family: poppins;
                color: #EC268F;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }

        .address {
            width: 50%;

            h4 {
                font-family: poppins;
                color: #EC268F;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.dropdown-footer {
    p {
        a {
            color: #414141;
            font-weight: poppins;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
}


.footer-copy {
    font-family: poppins;
    font-size: 16px;
    font-family: 16px;
    color: #413E3E;
}


@media(min-width:548px) {}

@media(min-width:768px) {
    header {
        .wrapper {
            .logo {
                width: 20%;

            }

            nav {
                display: none;
            }

            .navbar {
                display: block;

                ul {
                    display: flex;
                    gap: 20px;

                    li {
                        position: relative;

                        a {
                            font-family: poppins;
                            font-size: 18px;
                            line-height: 27px;
                            color: #353535;
                            font-weight: 400;
                            padding: 5px;
                            transition: color 0.3s;

                            &.active {
                                color: #FFF212;

                                &::after {
                                    width: 100%;
                                }
                            }

                            &::after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 2px;
                                background: #FFF212;
                                transition: width 0.3s;
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }

            }




        }
    }

    .dropdown-footer {
        overflow: visible;

    }

    .footer-bottom {
        flex-direction: row;

        justify-content: space-between;

        .footer-left {
            width: 45%;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                width: 40%;
                margin-bottom: 10px;


                p {
                    font-size: 18px;
                    line-height: 24px;
                }


            }

            .links {
                h4 {
                    i {
                        display: none;
                    }
                }
            }



        }



        .footer-right {
            flex-direction: row;
            justify-content: space-between;
            width: 45%;

            .contact {
                h4 {
                    i {
                        display: none;
                    }
                }
            }

            .address {
                h4 {
                    i {
                        display: none;
                    }
                }

            }
        }
    }
}